body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    width: 25%;
    position: absolute;
    top: 3%;
    left: 38%;
    margin: auto
    background: #000; /* Change this if you want a different background for the header */
    /*z-index: 1000; /* Keeps the header above other content */
    text-align: center;
    padding: 0;
}

.logo {
    max-width: 100%;
    height: auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mccontainer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input {
    margin-top: 10px;
}

/* Add any additional styles you need below */
